/*img motion profile*/
.cssimg {
    position: relative;
    height:50px;
    width:50px;
    background-color: blue;
    border-radius: 50%;
    display:flex;
}


.cssimg-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    padding:40px;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.red {
    background-size:cover;
    background-image: url("JAlogo.jpg");
    width: 50px;
    height:50px;
    z-index: 1;
    position: relative;
    left:-30%;
    color:black;


    animation-duration: 8s;
    animation-name: rollball;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-size:0px;

    transition:
        width 2s,
        height 2s,
        font-weight 2s,

        font-size 2s;
}

@keyframes rollball {
    from {
        left: -30%;

    }

    to {
        left: 30%;

    }
}

.red:hover {

    width: 156px;
    height: 150px;

    font-size: 22px;
    font-weight: bold;

}

.balltext {
   padding: 10%;
   margin: 10% 5%;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-align: center;
   color: aqua;
   text-shadow: red 1px 1px 2px, black 1px -1px 2px, blue -1px -1px 2px, yellow -1px 1px 2px;
}

/* end img motion */

.left {
    left: 15px;

}

.right {
    right:15px;
}




body {
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    display:flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    padding: 10px;

}
nav a {
    text-decoration: none;
}

nav {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    min-width: 660px;

}

h1, h2 {
    text-align: center;
}

h2 {
    text-decoration: underline;
}
p {
    margin-bottom: 15px;
    margin-left: 8%;
    margin-right: 8%;
    padding: 2%;
    line-height: 1.5;
}

.logo {
    background-size:cover;
    background-image: url("JAlogo.jpg");
    width: 110px;
    height:106px;
    top: 20px;
    position:relative;

}

.up {
    bottom: 30px;
    position: relative;
}


/*Working with wireframes page*/

.three-by-two {
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;


}
.three-by-two img {
    width: 30vw;
    padding:5px;
    margin:5px;

}

.cen {
    text-align: center;
}

/*Education & Experience*/
.dates {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}

.linkname {
    font-size: 20px;
}

.ph-list {
    display: flex;
    flex-flow: row wrap;
    line-height: 1.5;
}

.ph-list-li {
    padding-right: 36px;
}

/*Form*/

fieldset {
    display: flex;
    flex-direction: column;
    margin: 5% 20%;
    line-height: 2;
    background-color: whitesmoke;
}

button {
    width:140px;
    align-self: center;
    margin-top: 15%;
    padding: 5px;
    background-color: white;
}

textarea {
    min-height: 100px;
}
